
*
   {
       box-sizing:		border-box;
       margin:			0;
       padding: 		0;
       line-height: 1.6;
       font-family: "B Koodak";
       outline: none;
   }	
body
    {

        
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
html
   {
       padding:		1em;
       font-size: 		16px;
      
   }
   form
   {
    background-color: rgba(245, 245, 245,50%);
    border-radius: 20px;
    padding:		1em;
    font-size: 		16px;
    width: 600px;
   }
:lang(fa)
   {
       direction: rtl;
       text-align: right;
       
   }
:lang(en)
   {
       direction: ltr;
       text-align: left;
       
   }
input:not([type='checkbox']),textarea,button
   {
       height: 		 48px;
       padding:		 16px;
       border:		 1px solid transparent;
       border-radius:	25px; 
       font-size:		20px;
       margin: 8px 8px 8px 8px;
       min-width:		 200px;
       max-width: 		 100%;
               
   }
textarea
   {
       height: 6em;
       width: 515px;
   }
img.thumbnail{
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
}


           
       